apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-backend
  template:
    metadata:
      labels:
        app: fastapi-backend
    spec:
      containers:
        - name: fastapi-backend
          image: tranducthai/fastapi-backend:REPLACE_TAG
          ports:
            - containerPort: 8000
          # Nếu container bạn đã có CMD trong Dockerfile thì xóa 2 dòng này
          command: ["uvicorn"]
          args: ["app.main:app", "--host", "0.0.0.0", "--port", "8000"]
