apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  labels:
    app: fastapi-backend
spec:
  selector:
    app: fastapi-backend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80        # public port on ELB
      targetPort: 5000
