apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  selector:
    app: fastapi-backend
  type: NodePort
  ports:
    - protocol: TCP
      port: 8000       # cổng service mà bạn truy cập
      targetPort: 5000 #